<!DOCTYPE html>
<meta charset="UTF-8">

<html>

<head>
  <link rel=StyleSheet href="{{stylesheet}}">
  <title>object-select</title>
</head>

<body>
  <div id="title">
    <p class="title">
      Done!
    </p>
  </div>
  <div id="body">
  <p class="content">
    All of the images found by the script in the path provided have had the objects in them selected. This data has now been saved in the correct format and location, allowing the folder passed to this script to be used as a complete dataset.
  </p>
</body>

</html>
