<!DOCTYPE html>
<meta charset="UTF-8">

<html>

<head>
  <link rel=StyleSheet href="{{stylesheet}}">
  <title>object-select</title>
</head>

<body>
  <canvas id="selector-area"> </canvas>
  <div id="img_src" style="display:none;">{{image}}</div>
  {% for script in scripts %}
  <script src="{{script}}"> </script>
  {% endfor %}
  <form class="input" id="selectionName" action="javascript:setSelectionName(selectionName.value)">
    <input type="text" name="selectionName" placeholder="default">
    <label for="selectionName">Name of object selecting.</label>
    <button type="submit">Submit</button>
  </form>
  <br>
  <form class="input" id="dataSubmit" action="/submit/">
    <input type="text" class="hidden" name="selectionData" id="selectionData" value="">
    <button type="submit">Submit</button>
  </form>
</body>

</html>
